---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=2e81e3696f66a4140ff9350f1f2c97511edcd5ed&ip=109.235.143.113&locale=de&offer_types=112&ps_time=1433106826&timestamp=1433106826&uid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 4815de7108f93618349ad21a732165cea812ce6c
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
    body:
      encoding: ASCII-8BIT
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://offer.fyber.com/mobile/support?appid=157&client=api&uid=1"},"offers":[]}'
  recorded_at: Sun, 31 May 2015 21:13:48 GMT
recorded_with: VCR 2.9.3
